
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    background: rgba(255, 255, 255, 0.1); /* Background with 10% opacity */
    border-radius: 10px;
    backdrop-filter: blur(4px); /* Blur effect for the background */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Border with 20% opacity */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}